@import url('../font/dm_sans_font.css');

body {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    background-color: #F9F9F9;
}


/* ===== Temperature Alert Styles ===== */ 

.alert-red {
    background-color: #ff4d4d;
    border-left: 6px solid #b30000;
    color: white;
}

.alert-yellow {
    background-color: #ffcc00;
    border-left: 6px solid #cc9900;
    color: black;
}

.alert-normal {
    background-color: #e0e0e0;
}

.dashboard_temp_sensor_indv_div {
    height: fit-content;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    text-decoration: none;
    gap: 5px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px #EBEBEB;
    /* Soft drop shadow */
    border-radius: 13px;
}

.dashboard_main_heading_logout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2B3674;
    margin: 5px 10px;
}

.dashboard_main_heading_logout h6 {
    font-size: 25px;
}

.dashboard_main_logout {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.control_panel_edit {
    font-size: 1.5em;
    font-weight: bold;
    outline: none;
    color: #2B3674;
    border-radius: 5px;
    border: 1px solid #ccc;
    /* Adjust thickness and color */
    padding: 5px;
    /* Optional: Adjust padding for better appearance */
}

.device-name {
    margin-bottom: 15px;
    line-height: 1.2em;
    color: #24537f !important;
    font-weight: 600;
    font-size: 15px !important;
}

.dashboard_main_logout_div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard_main_img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard_logout_button {
    color: #2B3674;
    outline: none;
    background-color: white;
    border: none;
    text-decoration: underline;
}

.dashboard_indv_temperature_box {
    border-radius: 18px;
    border-width: 1px;
    border-style: solid;
    border-color: #474F7D;
}

.dashboard_indv_temperature_box_main_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard_indv_temperature_title {
    color: #525C94;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.dashboard_indv_nav_img_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard_indv_nav_img {
    height: 30px;
    cursor: pointer;
}

.dashboard_temp_sensor_main_div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    gap: 40px;
}

.dashboard_temp_sensor_indv_div_T_R {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard_temp_R_title {
    color: #FF0000;
}

.dashboard_temp_Y_title {
    color: #FFCC00;
}

.dashboard_temp_B_title {
    color: #0084FF;
}

.dashboard_temp_N_title {
    color: #0a0a0a;
}

.dashboard_temp_min_max_main_div {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}

.dashboard_temp_min_div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #405678;
}

.dashboard_temp_min_value_div {
    color: #4D60CD;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard_temp_avg_value_div {
    font-size: 40px;
    font-weight: 700;
    color: #2B3674;
}

.dashboard_temp_max_div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #405678;
}

.dashboard_temp_max_value_div {
    color: #4D60CD;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .dashboard_temp_avg_value_div {
        font-size: 20px;
    }

    .dashboard_temp_sensor_indv_div_T1 {
        font-size: 25px;

    }

    .dashboard_temp_sensor_main_div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        width: 100%;
        gap: 10px;
    }

    .dashboard_temp_min_max_main_div {
        font-size: x-small;
    }

}


.edit_name {
    background-color: transparent;
    border: none;
}

.apply_name {
    border: none;
    background-color: #2B3674;
    color: #ffffff;
    border-radius: 5px;
}

.temp_r_y_b_alert_box_div {
    border: 2px solid rgb(241, 98, 98);
    border-radius: 8px;
    min-width: 350px;

}

.temp_r_y_b_alert_box_title {
    color: rgb(241, 98, 98);
    font-weight: 600;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.temp_r_y_b_alert_box_description {
    color: #2b3674;
    font-weight: 500;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ********************************* */
.temp_alert_box_main_div {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #5c77d8 transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.temp_alert_box_main_div::-webkit-scrollbar {
    height: 5px;
}

.temp_alert_box_main_div::-webkit-scrollbar-thumb {
    background-color: #5c77d8;
    border-radius: 10px;
}

.temp_alert_box_main_div::-webkit-scrollbar-track {
    background: transparent;
}

/* ********************************* */

.temp_alert_box_close {
    height: 30px;
    cursor: pointer;
}

.temp_alert_icon {
    height: 30px;

}

.temp_alert_time {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #919191;
    font-weight: 600;
}

.temp_annotation_div {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
}

/* home.html start */

.device-card {
    width: 570px;
    height: 120px;
    background: white;
    border-radius: 14px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: Arial, sans-serif;
}

@media (max-width: 600px) {
    .device-card {
        height: 140px;
    }

    .device-name {

        font-size: 12px !important;
    }

}

@media (max-width: 400px) {
    .device-card {
        height: 200px;
    }

    .device-name {

        font-size: 12px !important;
    }
}

@media (max-width: 320px) {
    .device-card {
        height: 200px;
    }

    .device-name {

        font-size: 12px !important;
    }
}

.device-card.no-warning .device-content {
    height: 100%;
    display: flex;
    align-items: center;
}


/* Top Warning Bar */
.warning-bar {
    background: #ff4756e8;
    color: white;
    padding: 8px 12px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
}

.warning-icon {
    font-size: 16px;
}

/* Main Content */
.device-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.device-name {
    margin-bottom: 15px;
    font-size: 18px;
}

.status {
    font-size: 14px;
    padding-top: 5px !important;
}


/* Right Side Icons */
.right {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* Arrow Button */
.arrow-btn {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #e5e7eb;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: #374151;
}

/* 🔴⚪ Blink animation */
@keyframes alertBlink {
    0% {
        background-color: #ffffff;
    }

    50% {
        background-color: #ffc8cb;
    }

    100% {
        background-color: #ffb7b7;
    }
}

/* Apply blinking ONLY to alert cards */
.device-card.alert-active {
    animation: alertBlink 2s infinite;
}

/* home.html end */