<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thermostate Graph</title>
    <link rel="icon" type="image/png" href="../static/img/evoluzn_title_logo.png">
    <link href="../static/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <link href="../static/css/lux_level_graph.css" rel="stylesheet" />
    <link href="../static/css/datepicker.css" rel="stylesheet" />
    <script src="../static/js/chart.js"></script>
    <script src="../static/js/datepicker.js"></script>
    <link href="../static/css/temperature.css" rel="stylesheet" />
    <script src="../static/js/chart_cdn.js"></script>
    <script src="../static/js/hammer.js"></script>
    <script src="../static/js/plugin.js"></script>
    <script src="../static/js/alert.js"></script>
    <script src="../static/js/socket.io.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@3.0.1/dist/chartjs-plugin-annotation.min.js"></script>
</head>

<body>
    <div class="p-3">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <a href="{{ url_for('home') }}"><button class="lux_graph_level_go_back_button">
                        <img src="../static/img/left_arrow.svg"> Go Back</button></a>
            </div>
            {% include 'setting.html' %}
            <!-- <div class="d-flex flex-row ">
                <div>
                    <img src="../static/img/logout.svg">
                </div>
                <a href="{{ url_for('home') }}"><button class="dashboard_logout_button">Logout</button></a>
            </div> -->
        </div>
    </div>

    <div class="d-flex flex-column min-vh-100">

        <div class="p-3">

            <div class="d-flex flex-row gap-4 temp_alert_box_main_div">
                {% for alert in alertsindivisual %}
                <div class="mt-4 p-1 temp_r_y_b_alert_box_div">
                    <div class="alert-box" data-alert-message="{{ alert['message'] }}"
                        data-device-name="{{ alert['device_id'] }}">
                        <div class="d-flex justify-content-end">
                            <img class="temp_alert_box_close" src="../static/img/alert_cross_close.svg"
                                onclick="deleteAlert(this)">
                        </div>
                        <div class="text-center temp_r_y_b_alert_box_title">
                            <img class="temp_alert_icon" src="../static/img/alert.svg">
                            Alert ({{ alert['exceeded_phases'] or "—" }})
                        </div>
                        <div class="text-center temp_r_y_b_alert_box_description mt-2">
                            {{ alert['message'] }}
                        </div>
                        <div class="mt-2 pb-3 temp_alert_time">
                            {{ alert['timestamp'].strftime('%d %B %Y, %H:%M:%S') }}
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="mt-4 text-muted"></div>
                {% endfor %}
            </div>

            <!-- {{device_data}} -->
            <div class="lux_graph_level_main_div mt-3">
                <h3 class="temperature_dashboard_title">
                    {{device_id}}
                </h3>

                {% set order = ['R', 'Y', 'B', 'N'] %}
                {% for device_id, panels in device_data.items() %}
                {% for panel_name, phases in panels.items() %}
                <div data-device-id="{{ device_id }}" data-panel-name="{{ panel_name }}">

                    <div class="d-flex align-items-center">
                        <h4 style="margin-top: 10px;">{{ panel_name }}</h4>

                        <input type="text" value="{{ panel_name }}" class="control_panel_edit"
                            id="control_panel_edit_1_{{ device_id | replace(' ', '_') }}_{{panel_name.replace(' ', '_').replace('  ', '_').replace('   ', '_').replace('    ', '_') }}"
                            data-id="{{ device_id.replace(' ', '_').replace('  ', '_').replace('   ', '_').replace('    ', '_') }}_{{ panel_name.replace(' ', '_').replace('  ', '_').replace('   ', '_').replace('    ', '_') }}"
                            readonly>
                        <button class="edit_name"
                            id="edit_name_button_1_{{ device_id | replace(' ', '_') }}_{{ panel_name | replace(' ', '_') }}"
                            data-id="1_{{ device_id }}_{{ panel_name }}">
                            <img src="../static/img/akar-icons_edit.png" alt="" height="30">
                        </button>
                        <button class="apply_name"
                            id="apply_name_button_1_{{ device_id | replace(' ', '_') }}_{{ panel_name | replace(' ', '_') }}"
                            data-id="1_{{ device_id }}_{{ panel_name }}" style="display: none;">Apply</button>

                    </div>

                    <div class="lux_graph_level mt-4 mb-4">
                        {% for letter in order %}
                        {% for phase_name, value in phases.items() %}
                        {% if phase_name.startswith(letter) %}
                        <div class="lux_graph_level_indv_div p-3">
                            <div class="lux_graph_level_title_img_main_div">
                                <h4 class="{% if phase_name.startswith('R') %}dashboard_temp_R_title{% elif phase_name.startswith('Y') %}
                                dashboard_temp_Y_title{% elif phase_name.startswith('B') %}
                                dashboard_temp_B_title{% else %}dashboard_temp_N_title{% endif %}">
                                    {{ phase_name }}</h4>
                                <img src="{{ url_for('static', filename='img/temperature_icon.svg') }}">
                            </div>
                            <!-- <div class="lux_graph_level_temp_value_div">
                                {{ value }}<span>°C</span>
                            </div> -->

                            <div class="dashboard_temp_min_max_main_div">
                                <div>
                                    <div class="dashboard_temp_min_div">Min</div>
                                    <div class="dashboard_temp_min_value_div" data-device="{{ device_id  }}"
                                        data-sensor="{{ phase_name }}">
                                        {{ result.get(device_id, {}).get(phase_name, {}).get('MIN', '-') }}°C
                                    </div>
                                </div>

                                <div class="lux_graph_level_temp_value_div">{{ value }}°C</div>

                                <div>
                                    <div class="dashboard_temp_max_div">Max</div>
                                    <div class="dashboard_temp_max_value_div" data-device="{{ device_id }}"
                                        data-sensor="{{ phase_name }}">
                                        {{ result.get(device_id, {}).get(phase_name, {}).get('MAX', '-') }}°C
                                    </div>
                                </div>
                            </div>


                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                {% endfor %}


            </div>

            <!-- ****************************** -->
            <!-- ------------temperature r y b Graph Start--------------------- -->
            <div class="running_light_lux_main_div mt-4">
                <div class="running_light_lux_main_heading" id="temperatureHeading">
                    Temperature Graph (R, Y, B)
                </div>
                <div class="running_graph_lux_main_div mt-4">
                    <div class="px-3">
                        <div>
                            <div class="d-flex justify-content-end ">
                                <div class="temperature_r_y_b_control_panel me-2">
                                    <select id="controlPanelSelect_temp_r_y_b" class="running_light_start_end_div">
                                        {% for device_id, panels in device_data.items() %}
                                        {% for panel_name in panels.keys() %}
                                        <option value="{{ panel_name }}">{{ panel_name }}</option>
                                        {% endfor %}
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="temperature_r_y_b_today_set_date">
                                    <select id="timeframeSelect_temp_r_y_b" class="running_light_start_end_div">
                                        <option value="daily">Today</option>
                                        <option value="set-date">Set Date</option>
                                    </select>
                                </div>
                            </div>
                            <div class="py-2 temp_annotation_div" style="display: none;">
                                <input id="annotationInput" type="number" placeholder="Enter Threshold Value"
                                    class="running_light_start_end_div">
                                <button id="applyAnnotation" class="running_light_start_end_div">Apply
                                    Threshold</button>
                                <div id="errorMessage_threshold" class="error" style="color: #f77367;;"></div>
                            </div>
                            <div id="dateRangeContainer_temp_r_y_b" class="dateRangeContainer_css_temp_r_y_b mt-2">
                                <label for="dateRange_temp_r_y_b">Select Date Range:</label>
                                <input id="dateRange_temp_r_y_b" type="text" placeholder="Select Date Range"
                                    class="running_light_start_end_div">

                                <button id="applyDateRange_temp_r_y_b"
                                    class="running_light_start_end_div">Apply</button>
                            </div>
                            <div>
                                <div class="temp_r_y_b_start_end_date_main_div">
                                    <div id="startDateDisplay_temp_r_y_b"></div>
                                    <div id="endDateDisplay_temp_r_y_b"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="main_power_consumption_graph_div">
                        <div class="main_canvas_wrapper">
                            <canvas id="myChart_temp_r_y_b" class="main_power_consumption_graph_main_div"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ------------temperature r y b End--------------------- -->
        </div>


        <!-- pls inset footer backend -->
        <footer class="py-2 mt-auto text-center">
            <div> Powered By <span>EVOLUZN</span></div>
        </footer>
        <!-- pls inset footer backend-->

    </div>

    <script>

    </script>
    <script src="../static/js/graph.js"></script>
    <script src="../static/js/temperature.js"></script>
</body>

</html>